body{
    background-color:rgb(143, 16, 122)
} 

h1{
    background-color: antiquewhite;
}
h2{
    background-color:antiquewhite
}
img{
    border-style:double
}

.centro{
    text-align: center;
}

.teste{
    text-align: center;
}